@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 5px;
  margin: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: darkslategray;
}


.header,
.footer{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.content{
  flex: 1; /* adds growth filling around */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* can use margin-top: auto; too */
.footer{
  background-color: #eeeeee;  /* that is why it is */
}                               /* at  the bottom! */

.left-links,
.right-links{
  display: flex;
  gap: 15px;
}